KALSHI_API_KEY_ID=44560964-6bd7-41ed-ac76-c81591278711
KALSHI_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----
your_private_key_here
-----END PRIVATE KEY-----
KALSHI_BASE_URL=https://external-api.demo.kalshi.co/trade-api/v2
BOT_MODE=dry_run
STARTING_CAPITAL=200
MAX_PORTFOLIO_RISK_PCT=0.5
BTC_MARKET_TICKER_PREFIX=KXBTC15M
LOOP_SECONDS=20
