KALSHI_API_KEY_ID=71c2c4dd-6697-4cde-8151-aa64a569dc34
KALSHI_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----
MIIEpQIBAAKCAQEA4aNn0S/w4xd+hDQ/E3prglGqnxzkf2Dw4RPOEwbV3PUqJriF
qnV2DGHz7KBFfutp2rYUerZTY6so3ZK3CvkHvzdvDevnfZekEVOhEGkoM/x8Np/M
gNoTNGNG/FyBACsVEnva5lVr67oZLWwJJ1GBCNGs1td6Jn22X2mEDFR3nBR6keJ7
S/zZmWnk4HEmEQJ3RuA+gjCXaeesz+V6Be4RI854yUno6MbyJwFZV4ItYdVJaECJ
ZO6xBL/0H1TjfZK4MO09Yk8cH2GNOIQczvM26kCWxH9TSplYBDBsalykSarAqN9m
cSFdMdh5VItKG9pchlcVyrkTGfGgwQ8568vhHwIDAQABAoIBAFZX19XiQQ09g9Hm
Rk7XVUWQp7hsb3nY6ERQ9lYskvETNfaMPMYOXcZ+Qz/E0uMvBZpGe867b2yf5irn
xjiiNBc1iL8sizBxszxYIrWrb9F46DVk7/ZMvPWameLfKRQd6Fni4FCs1nflhlXt
1hDgLP7pcXjjCuCo0X1wXLH1LrIgIheInBzRJKo3o+adkMYzGOXJMXMgEC6t0nxM
5uXPVy+z/31hVc16UtjrFxuGHKXi0FaYT4SN9JtdQHqBSPr7bCXAQ3uw4g7ZLCCc
33XhCSMt59Fk1M5MNuecbr675ceDNVOqPl3gU1t/8Gp9GOH6LKLNNqRe2hDe5aWH
YWpa58ECgYEA7vM2VNFQJf+N62Mu9pgnRi8mAcoVl4p2GsW7JfJmKtj6ZvoqYMBg
HNq8NiGW1f7GUnoZh8rcVCvkMw1sfob/JiyTpL3R49rxigYhV957lbpkyw9GU5g+
ihHlxouPSo7QDENpu1hdm4s6fCj9GQ+OUphioeG9Ad+V8u1g+t7QLUECgYEA8b0I
sF++UhdNNxjESW7s2bv48TPfIHLyy9nl8YBHXr2S9MoEEMXOlA503AOeDiPM2bs7
zcW57fmu+ociFwCbU7yNpOm3OAPPBfCZx3fkHUsARhu8BAny6ofNz7IYUUnxwDFi
EZqNOSRKDMN1su2XR8jpayacLfnzkrXRKHVHll8CgYEAgI1EO5loXyj/dxWjHHN7
HZ0b+3Z261JIe9rI9n9US9Tz0hbgWbDlhGCBRTYI6hPpKlIaDh4rLvV2Dak5J1EF
T8pHnCerFcSikbj+k0FUh5cBxuTu1uZfLvS2A3ztmBUBBLf32ByQL7BVxJpgn+zo
irMEzUae4rUg/NKMjCr3IIECgYEAkVOKcLXubd2STwg1oMvt2ev2edMsVY6lRkXl
xezPezZOrZjxHsA8M6gJOud10pxVH6Q/DLLM1zMerYAlz1xPBOU65iSXQDaR88k0
OcVqvu2C6aLswiTVA4fHBBDWK7BfhKJriZe3RN37InczP/Ez3DT9lqwsgjtc4hsp
9b+j3NMCgYEAmE+ZHBYayYxhdw9qsll+AaQ53voDuRe7DsYgFS87eneHxgqCrKI7
N2wEbugxWgE5Thc11TSCXmc4hcWHLBGo8UxWVBjtydKgqtusOA4KO6b41N5TX3Ji
spXX7Wo+vdn4TrKcCrT+yfczIKgI5ZIIdg2kBdDaJljs//fJSAylaIo=
-----END RSA PRIVATE KEY-----"
KALSHI_BASE_URL=https://external-api.demo.kalshi.co/trade-api/v2
BOT_MODE=dry_run
STARTING_CAPITAL=100
MAX_PORTFOLIO_RISK_PCT=0.5
BTC_MARKET_TICKER_PREFIX=KXBTC15M
